ATM_project/ATM_project_flow.json
{"flowContents":{"identifier":"3e983f45-388d-3ca2-8136-f7443d396a1c","instanceIdentifier":"76a45195-0198-1000-271e-aa160e7ad157","name":"ATM_project","comments":"","position":{"x":656.0,"y":640.0},"processGroups":[{"identifier":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a","instanceIdentifier":"01981011-d71d-1ac5-c621-65c513805368","name":"Withdrawal Processing","comments":"","position":{"x":-24.0,"y":360.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e0fdc821-fba0-3fbc-9f31-067e5fa8ec46","instanceIdentifier":"a7dcd0e4-0198-1000-e41d-2bd9cfffd7de","name":"GetFile","comments":"","position":{"x":840.0,"y":24.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"C:\\Users\\DELL\\Downloads\\nifi-1.28.1-bin\\nifi-1.28.1\\nifi-data\\","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"withdrawals_json.json","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a"},{"identifier":"8c2b0bb1-800a-38a2-80ab-cfcc7349aa0f","instanceIdentifier":"a84c1032-0198-1000-4c96-f5a51a196318","name":"LogMessage","comments":"","position":{"x":1592.0,"y":704.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"log-message":"the withdrawals_json file sucsessfully deleted","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a"},{"identifier":"5c34576d-b157-3141-b524-e13c25c121c4","instanceIdentifier":"a849dd7a-0198-1000-4db5-af1dd549e95b","name":"DeleteFile","comments":"","position":{"x":984.0,"y":528.0},"type":"org.apache.nifi.processors.standard.DeleteFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Filename":"withdrawals_json.josn","Directory Path":"C:\\\\Users\\\\DELL\\\\Downloads\\\\nifi-1.28.1-bin\\\\nifi-1.28.1\\\\nifi-data\\\\"},"propertyDescriptors":{"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"Directory Path":{"name":"Directory Path","displayName":"Directory Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a"},{"identifier":"050c41d8-de77-37a3-8633-243a5d310bd4","instanceIdentifier":"7948dc60-0198-1000-a843-daa7d939ae42","name":"PutMongo","comments":"","position":{"x":392.0,"y":520.0},"type":"org.apache.nifi.processors.mongodb.PutMongo","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"1.28.1"},"properties":{"mongo-client-service":null,"Upsert":"false","ssl-context-service":null,"ssl-client-auth":"REQUIRED","Mode":"insert","Mongo Database Name":"local","Mongo URI":"mongodb://localhost:27017","Update Query Key":null,"Mongo Collection Name":"withdrawals","putmongo-update-query":null,"put-mongo-update-mode":"doc","Write Concern":"ACKNOWLEDGED","Character Set":"UTF-8"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false},"Upsert":{"name":"Upsert","displayName":"Upsert","identifiesControllerService":false,"sensitive":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false},"Mongo URI":{"name":"Mongo URI","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false},"Update Query Key":{"name":"Update Query Key","displayName":"Update Query Key","identifiesControllerService":false,"sensitive":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false},"putmongo-update-query":{"name":"putmongo-update-query","displayName":"Update Query","identifiesControllerService":false,"sensitive":false},"put-mongo-update-mode":{"name":"put-mongo-update-mode","displayName":"Update Mode","identifiesControllerService":false,"sensitive":false},"Write Concern":{"name":"Write Concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a"},{"identifier":"60ac0b4e-3781-3165-a789-bc2a3d9e8bda","instanceIdentifier":"a89f6fb3-0198-1000-0255-e1ac2be2758a","name":"MergeContent","comments":"","position":{"x":888.0,"y":320.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"100","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"}","Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":null,"Header File":"{","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a"},{"identifier":"bdd6e80f-f732-32f7-9c59-58be220e797f","instanceIdentifier":"a84b540c-0198-1000-5d78-3c837874d5d4","name":"LogMessage","comments":"","position":{"x":1608.0,"y":456.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"log-message":"the withdrawals_json file not founded","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a"},{"identifier":"c7dfee08-88a5-3532-b690-cfae7db5ce9b","instanceIdentifier":"793c3088-0198-1000-eeb0-dd9b5af6c508","name":"FlagHighValue","comments":"","position":{"x":392.0,"y":224.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.1"},"properties":{"requires_aml_check":"${transaction_type:equals('WITHDRAWAL'):or(${amount:toNumber():gt(10000)})}","compliance_tier":"${amount:toNumber():lt(10000):ifElse('TIER_1','TIER_2')}","Delete Attributes Expression":null,"is_high_value":"${amount:toNumber():gt(5000)}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","review_priority":"${amount:toNumber():gt(15000):ifElse('CRITICAL','HIGH')}","Stateful Variables Initial Value":null,"is_offhours":"${hour:lt(8):or(${hour:ge(20)})}","is_weekend":"${dayOfWeek:matches('Saturday|Sunday')}"},"propertyDescriptors":{"requires_aml_check":{"name":"requires_aml_check","displayName":"requires_aml_check","identifiesControllerService":false,"sensitive":false},"compliance_tier":{"name":"compliance_tier","displayName":"compliance_tier","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"is_high_value":{"name":"is_high_value","displayName":"is_high_value","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"review_priority":{"name":"review_priority","displayName":"review_priority","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"is_offhours":{"name":"is_offhours","displayName":"is_offhours","identifiesControllerService":false,"sensitive":false},"is_weekend":{"name":"is_weekend","displayName":"is_weekend","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a"}],"inputPorts":[{"identifier":"702f55a3-7736-33d0-9534-516fb4a6ce79","instanceIdentifier":"01981015-d71d-1ac5-fe4d-12ad5c748015","name":"input for withdraw","position":{"x":440.0,"y":48.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a"}],"outputPorts":[],"connections":[{"identifier":"6b122b10-4afe-36b9-be21-2f519f0d61cf","instanceIdentifier":"a8a17f6f-0198-1000-16b7-e3b82feda7f2","name":"","source":{"id":"60ac0b4e-3781-3165-a789-bc2a3d9e8bda","type":"PROCESSOR","groupId":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a","name":"MergeContent","comments":"","instanceIdentifier":"a89f6fb3-0198-1000-0255-e1ac2be2758a"},"destination":{"id":"050c41d8-de77-37a3-8633-243a5d310bd4","type":"PROCESSOR","groupId":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a","name":"PutMongo","comments":"","instanceIdentifier":"7948dc60-0198-1000-a843-daa7d939ae42"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a"},{"identifier":"73dab90a-ee3c-32e7-b538-de6aa5c74e79","instanceIdentifier":"a84c3aef-0198-1000-2708-f52c0fb3cf50","name":"","source":{"id":"5c34576d-b157-3141-b524-e13c25c121c4","type":"PROCESSOR","groupId":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a","name":"DeleteFile","comments":"","instanceIdentifier":"a849dd7a-0198-1000-4db5-af1dd549e95b"},"destination":{"id":"8c2b0bb1-800a-38a2-80ab-cfcc7349aa0f","type":"PROCESSOR","groupId":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a","name":"LogMessage","comments":"","instanceIdentifier":"a84c1032-0198-1000-4c96-f5a51a196318"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a"},{"identifier":"57de6257-3367-3adf-92aa-4a5ff7735383","instanceIdentifier":"a8199d00-0198-1000-26c9-8c3ce8934925","name":"","source":{"id":"c7dfee08-88a5-3532-b690-cfae7db5ce9b","type":"PROCESSOR","groupId":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a","name":"FlagHighValue","comments":"","instanceIdentifier":"793c3088-0198-1000-eeb0-dd9b5af6c508"},"destination":{"id":"050c41d8-de77-37a3-8633-243a5d310bd4","type":"PROCESSOR","groupId":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a","name":"PutMongo","comments":"","instanceIdentifier":"7948dc60-0198-1000-a843-daa7d939ae42"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a"},{"identifier":"0203e974-8f03-3d8e-9468-3d143ea88d9a","instanceIdentifier":"793e8527-0198-1000-a9ee-4dfe10247af8","name":"","source":{"id":"702f55a3-7736-33d0-9534-516fb4a6ce79","type":"INPUT_PORT","groupId":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a","name":"input for withdraw","instanceIdentifier":"01981015-d71d-1ac5-fe4d-12ad5c748015"},"destination":{"id":"c7dfee08-88a5-3532-b690-cfae7db5ce9b","type":"PROCESSOR","groupId":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a","name":"FlagHighValue","comments":"","instanceIdentifier":"793c3088-0198-1000-eeb0-dd9b5af6c508"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a"},{"identifier":"760c10cf-a6e6-3aa6-8844-b9b690da8083","instanceIdentifier":"a8a159a4-0198-1000-dc54-948c0c4977ab","name":"","source":{"id":"e0fdc821-fba0-3fbc-9f31-067e5fa8ec46","type":"PROCESSOR","groupId":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a","name":"GetFile","comments":"","instanceIdentifier":"a7dcd0e4-0198-1000-e41d-2bd9cfffd7de"},"destination":{"id":"60ac0b4e-3781-3165-a789-bc2a3d9e8bda","type":"PROCESSOR","groupId":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a","name":"MergeContent","comments":"","instanceIdentifier":"a89f6fb3-0198-1000-0255-e1ac2be2758a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a"},{"identifier":"a6f704e6-8943-324e-a793-be73746e9d80","instanceIdentifier":"a84a1c08-0198-1000-a4fd-56ce55f86d2c","name":"","source":{"id":"050c41d8-de77-37a3-8633-243a5d310bd4","type":"PROCESSOR","groupId":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a","name":"PutMongo","comments":"","instanceIdentifier":"7948dc60-0198-1000-a843-daa7d939ae42"},"destination":{"id":"5c34576d-b157-3141-b524-e13c25c121c4","type":"PROCESSOR","groupId":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a","name":"DeleteFile","comments":"","instanceIdentifier":"a849dd7a-0198-1000-4db5-af1dd549e95b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a"},{"identifier":"8eed8dc8-0828-3bf0-ba87-80579188befd","instanceIdentifier":"a84b7eee-0198-1000-1ca2-cdfa7fb970ec","name":"","source":{"id":"5c34576d-b157-3141-b524-e13c25c121c4","type":"PROCESSOR","groupId":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a","name":"DeleteFile","comments":"","instanceIdentifier":"a849dd7a-0198-1000-4db5-af1dd549e95b"},"destination":{"id":"bdd6e80f-f732-32f7-9c59-58be220e797f","type":"PROCESSOR","groupId":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a","name":"LogMessage","comments":"","instanceIdentifier":"a84b540c-0198-1000-5d78-3c837874d5d4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["not found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","componentType":"PROCESS_GROUP","groupIdentifier":"3e983f45-388d-3ca2-8136-f7443d396a1c"},{"identifier":"1b6d5c2c-3bb1-3de6-8307-3a0029547c00","instanceIdentifier":"a8be479e-0198-1000-19bf-c8d60d18a227","name":"delete flow files","comments":"","position":{"x":-1032.0,"y":128.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e91d6562-8b40-394b-8fd9-7d0d8eb8f5a6","instanceIdentifier":"a8bea42c-0198-1000-275b-67aadef29e8f","name":"ListFile","comments":"","position":{"x":16.0,"y":88.0},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Minimum File Age":"24 hours","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":null,"Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"C:\\Users\\DELL\\Downloads\\nifi-1.28.1-bin\\nifi-1.28.1\\put_logs","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1b6d5c2c-3bb1-3de6-8307-3a0029547c00"},{"identifier":"0c8fa139-9049-3371-876f-35b95a7982bb","instanceIdentifier":"a8c06cea-0198-1000-96bc-aaac2a414ec3","name":"LogMessage","comments":"","position":{"x":1328.0,"y":88.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"log-message":"the files is sucssesflly deleted","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1b6d5c2c-3bb1-3de6-8307-3a0029547c00"},{"identifier":"1974e758-72d8-3cd5-837c-6b5aafbaaff5","instanceIdentifier":"a8bf113c-0198-1000-c7eb-b5b02969a8ad","name":"DeleteFile","comments":"","position":{"x":648.0,"y":96.0},"type":"org.apache.nifi.processors.standard.DeleteFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Filename":"${filename}","Directory Path":"C:\\Users\\DELL\\Downloads\\nifi-1.28.1-bin\\nifi-1.28.1\\put_logs"},"propertyDescriptors":{"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"Directory Path":{"name":"Directory Path","displayName":"Directory Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","not found"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1b6d5c2c-3bb1-3de6-8307-3a0029547c00"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"7928e95a-1324-3959-ab9b-6ff8a40bb69f","instanceIdentifier":"a8c08848-0198-1000-642f-eea23669ddc4","name":"","source":{"id":"1974e758-72d8-3cd5-837c-6b5aafbaaff5","type":"PROCESSOR","groupId":"1b6d5c2c-3bb1-3de6-8307-3a0029547c00","name":"DeleteFile","comments":"","instanceIdentifier":"a8bf113c-0198-1000-c7eb-b5b02969a8ad"},"destination":{"id":"0c8fa139-9049-3371-876f-35b95a7982bb","type":"PROCESSOR","groupId":"1b6d5c2c-3bb1-3de6-8307-3a0029547c00","name":"LogMessage","comments":"","instanceIdentifier":"a8c06cea-0198-1000-96bc-aaac2a414ec3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b6d5c2c-3bb1-3de6-8307-3a0029547c00"},{"identifier":"7481a9fc-18bd-30c8-8831-3be33fc22999","instanceIdentifier":"a8bf5331-0198-1000-208b-88ad3448ca7d","name":"","source":{"id":"e91d6562-8b40-394b-8fd9-7d0d8eb8f5a6","type":"PROCESSOR","groupId":"1b6d5c2c-3bb1-3de6-8307-3a0029547c00","name":"ListFile","comments":"","instanceIdentifier":"a8bea42c-0198-1000-275b-67aadef29e8f"},"destination":{"id":"1974e758-72d8-3cd5-837c-6b5aafbaaff5","type":"PROCESSOR","groupId":"1b6d5c2c-3bb1-3de6-8307-3a0029547c00","name":"DeleteFile","comments":"","instanceIdentifier":"a8bf113c-0198-1000-c7eb-b5b02969a8ad"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1b6d5c2c-3bb1-3de6-8307-3a0029547c00"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","componentType":"PROCESS_GROUP","groupIdentifier":"3e983f45-388d-3ca2-8136-f7443d396a1c"},{"identifier":"0c574861-ee51-3558-ab7f-16583da51afb","instanceIdentifier":"01981014-d71d-1ac5-5594-8e620b398a97","name":"Deposit Processing","comments":"","position":{"x":-608.0,"y":360.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8080395d-99d0-38ba-af9b-81dcdc3f085a","instanceIdentifier":"01981023-d71d-1ac5-05ee-b248c5345a99","name":"PutMongo","comments":"","position":{"x":920.0,"y":800.0},"type":"org.apache.nifi.processors.mongodb.PutMongo","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"1.28.1"},"properties":{"mongo-client-service":null,"Upsert":"false","ssl-context-service":null,"ssl-client-auth":"REQUIRED","Mode":"insert","Mongo Database Name":"local","Mongo URI":"mongodb://localhost:27017","Update Query Key":null,"Mongo Collection Name":"deposits","putmongo-update-query":null,"put-mongo-update-mode":"doc","Write Concern":"ACKNOWLEDGED","Character Set":"UTF-8"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false},"Upsert":{"name":"Upsert","displayName":"Upsert","identifiesControllerService":false,"sensitive":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false},"Mongo URI":{"name":"Mongo URI","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false},"Update Query Key":{"name":"Update Query Key","displayName":"Update Query Key","identifiesControllerService":false,"sensitive":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false},"putmongo-update-query":{"name":"putmongo-update-query","displayName":"Update Query","identifiesControllerService":false,"sensitive":false},"put-mongo-update-mode":{"name":"put-mongo-update-mode","displayName":"Update Mode","identifiesControllerService":false,"sensitive":false},"Write Concern":{"name":"Write Concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"11d72d93-0cd6-3441-a32d-94adb84199c7","instanceIdentifier":"a7cac57e-0198-1000-602a-114897f25e14","name":"GetFile","comments":"","position":{"x":-328.0,"y":800.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"C:\\Users\\DELL\\Downloads\\nifi-1.28.1-bin\\nifi-1.28.1\\nifi-data\\","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"DEPOSIT_json.json","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"7fe744cb-2336-34f7-a037-c6330b324ce7","instanceIdentifier":"01981022-d71d-1ac5-c972-797488715de2","name":"AddDepositMetadata","comments":"","position":{"x":280.0,"y":568.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.1"},"properties":{"time_band":"${hour:toNumber():lt(12):ifElse('AM','PM')}","deposit_category":"${deposit_method:equals('CASH'):ifElse('CASH','NON_CASH')}","Delete Attributes Expression":null,"processing_timestamp":"${now():format('yyyy-MM-dd HH:mm:ss.SSS')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","branch_id":"${atm_id:substringAfterLast('_')}","Stateful Variables Initial Value":null,"weekend_deposit":"`${dayOfWeek:matches('Saturday","is_flagged":"${amount:toNumber():gt(10000):or(${deposit_method:equals('CASH'):and(${amount:toNumber():gt(5000))})}"},"propertyDescriptors":{"time_band":{"name":"time_band","displayName":"time_band","identifiesControllerService":false,"sensitive":false},"deposit_category":{"name":"deposit_category","displayName":"deposit_category","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"processing_timestamp":{"name":"processing_timestamp","displayName":"processing_timestamp","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"branch_id":{"name":"branch_id","displayName":"branch_id","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"weekend_deposit":{"name":"weekend_deposit","displayName":"weekend_deposit","identifiesControllerService":false,"sensitive":false},"is_flagged":{"name":"is_flagged","displayName":"is_flagged","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"4ac1483e-6bc5-3384-a5c2-598c8f815065","instanceIdentifier":"a840b6b3-0198-1000-63e9-7d727a0a584e","name":"DeleteFile","comments":"","position":{"x":1528.0,"y":800.0},"type":"org.apache.nifi.processors.standard.DeleteFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Filename":"DEPOSIT_json.json","Directory Path":"C:\\\\Users\\\\DELL\\\\Downloads\\\\nifi-1.28.1-bin\\\\nifi-1.28.1\\\\nifi-data\\\\"},"propertyDescriptors":{"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"Directory Path":{"name":"Directory Path","displayName":"Directory Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"fd139ab1-9dbd-36e3-8824-f707adf66281","instanceIdentifier":"01981026-d71d-1ac5-186a-60439dc4e2fe","name":"LogDeposit","comments":"","position":{"x":280.0,"y":328.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Log prefix":"[DEPOSIT]","character-set":"windows-1252","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":"filename, transaction_id, amount, account_number","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"b85947cc-fadb-3d90-955e-08851d7ecae0","instanceIdentifier":"7917c6d7-0198-1000-1ea2-29487b83a47f","name":"LogAttribute","comments":"","position":{"x":904.0,"y":16.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Log prefix":null,"character-set":"windows-1252","Log FlowFile Properties":"true","Log Level":"error","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"097a079a-328d-3453-9cee-64dbc776e147","instanceIdentifier":"a8469e9c-0198-1000-c2d5-93e3f6eb120d","name":"LogMessage","comments":"","position":{"x":1328.0,"y":1048.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"log-message":"the DEPOSIT_json.json file not founded","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"7be11a0d-803a-3f71-8b6b-9846a888ac0d","instanceIdentifier":"a846ab22-0198-1000-ce43-b3bd6b947d8c","name":"LogMessage","comments":"","position":{"x":1952.0,"y":1032.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"log-message":"the DEPOSIT_json.json file sucsessfully deleted","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"a4b27b51-7133-3d24-9c0e-fac7ada294f7","instanceIdentifier":"01981020-d71d-1ac5-2c19-b4ce2fb0df45","name":"ValidateRecord","comments":"","position":{"x":280.0,"y":16.0},"type":"org.apache.nifi.processors.standard.ValidateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"allow-extra-fields":"true","strict-type-checking":"true","schema-name":"${schema.name}","record-writer":"ed691d09-9d5d-3a0d-8092-ebc69d61d905","invalid-record-writer":null,"schema-registry":null,"coerce-types":"false","validation-details-attribute-name":null,"record-reader":"964c90e5-85e1-3413-a9fc-20c426d36ebf","maximum-validation-details-length":"1024","schema-access-strategy":"schema-text-property","schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"Deposit\",\n  \"fields\": [\n    {\"name\": \"transaction_id\", \"type\": \"string\"},\n    {\"name\": \"amount\", \"type\": \"double\"},\n    {\"name\": \"account_number\", \"type\": \"string\"},\n    {\"name\": \"deposit_method\", \"type\": [\"null\", {\"type\": \"enum\", \"name\": \"Method\", \"symbols\": [\"CASH\", \"CHECK\", \"WIRE\"]}], \"default\": null},\n    {\"name\": \"timestamp\", \"type\": [\"null\", \"string\"], \"default\": null}\n  ]\n}"},"propertyDescriptors":{"allow-extra-fields":{"name":"allow-extra-fields","displayName":"Allow Extra Fields","identifiesControllerService":false,"sensitive":false},"strict-type-checking":{"name":"strict-type-checking","displayName":"Strict Type Checking","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"invalid-record-writer":{"name":"invalid-record-writer","displayName":"Record Writer for Invalid Records","identifiesControllerService":true,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"coerce-types":{"name":"coerce-types","displayName":"Force Types From Reader's Schema","identifiesControllerService":false,"sensitive":false},"validation-details-attribute-name":{"name":"validation-details-attribute-name","displayName":"Validation Details Attribute Name","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"maximum-validation-details-length":{"name":"maximum-validation-details-length","displayName":"Maximum Validation Details Length","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"8b68d45b-cbe1-3568-a3ed-a52992380450","instanceIdentifier":"7a2229eb-0198-1000-918b-a6787aa47bf5","name":"JoltTransformJSON","comments":"","position":{"x":920.0,"y":560.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {  // For each array element\n        \"@\": \"documents[&]\"  // Map to 'documents' array\n      }\n    }\n  }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"Max String Length":"20 MB","pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"728cddb7-c39b-3af7-98cc-a343dbdc75fc","instanceIdentifier":"a8a3f287-0198-1000-0808-5b82b77a8e06","name":"MergeContent","comments":"","position":{"x":296.0,"y":800.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"100","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"}","Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":null,"Header File":"{","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"}],"inputPorts":[{"identifier":"f6540356-02d8-3da7-80c5-00de731e7b69","instanceIdentifier":"01981034-d71d-1ac5-8f99-249a9bcbe1de","name":"input for deposits","position":{"x":336.0,"y":-200.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"}],"outputPorts":[],"connections":[{"identifier":"0d1a7ad2-e50a-3a06-90d5-048082766243","instanceIdentifier":"7a22f24b-0198-1000-2d80-e1fa7ed24919","name":"","source":{"id":"7fe744cb-2336-34f7-a037-c6330b324ce7","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"AddDepositMetadata","comments":"","instanceIdentifier":"01981022-d71d-1ac5-c972-797488715de2"},"destination":{"id":"8b68d45b-cbe1-3568-a3ed-a52992380450","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"JoltTransformJSON","comments":"","instanceIdentifier":"7a2229eb-0198-1000-918b-a6787aa47bf5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"040820ab-3fe6-3a0e-b591-74fced005500","instanceIdentifier":"a8a4649d-0198-1000-6dde-5f18bf29822b","name":"","source":{"id":"728cddb7-c39b-3af7-98cc-a343dbdc75fc","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"MergeContent","comments":"","instanceIdentifier":"a8a3f287-0198-1000-0808-5b82b77a8e06"},"destination":{"id":"8080395d-99d0-38ba-af9b-81dcdc3f085a","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"PutMongo","comments":"","instanceIdentifier":"01981023-d71d-1ac5-05ee-b248c5345a99"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"50cc3d9c-59d1-378c-b0d5-6d5885dd7305","instanceIdentifier":"7917a673-0198-1000-71a2-baf02c06fa03","name":"","source":{"id":"a4b27b51-7133-3d24-9c0e-fac7ada294f7","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"ValidateRecord","comments":"","instanceIdentifier":"01981020-d71d-1ac5-2c19-b4ce2fb0df45"},"destination":{"id":"fd139ab1-9dbd-36e3-8824-f707adf66281","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"LogDeposit","comments":"","instanceIdentifier":"01981026-d71d-1ac5-186a-60439dc4e2fe"},"labelIndex":1,"zIndex":0,"selectedRelationships":["valid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"b90295ae-604e-3e9e-8e13-269c62ee788a","instanceIdentifier":"7917e474-0198-1000-7f54-f23ec980f3d9","name":"","source":{"id":"a4b27b51-7133-3d24-9c0e-fac7ada294f7","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"ValidateRecord","comments":"","instanceIdentifier":"01981020-d71d-1ac5-2c19-b4ce2fb0df45"},"destination":{"id":"b85947cc-fadb-3d90-955e-08851d7ecae0","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"LogAttribute","comments":"","instanceIdentifier":"7917c6d7-0198-1000-1ea2-29487b83a47f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["invalid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"68db3316-bcf2-3bb6-bf7a-188af9c21bba","instanceIdentifier":"a846dbfb-0198-1000-1f9c-e4e689b43cd0","name":"","source":{"id":"4ac1483e-6bc5-3384-a5c2-598c8f815065","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"DeleteFile","comments":"","instanceIdentifier":"a840b6b3-0198-1000-63e9-7d727a0a584e"},"destination":{"id":"7be11a0d-803a-3f71-8b6b-9846a888ac0d","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"LogMessage","comments":"","instanceIdentifier":"a846ab22-0198-1000-ce43-b3bd6b947d8c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"40e61cae-41b6-3c74-8b6c-275099eb6bb6","instanceIdentifier":"7a2319d5-0198-1000-3ce4-ec87454dc9f2","name":"","source":{"id":"8b68d45b-cbe1-3568-a3ed-a52992380450","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"JoltTransformJSON","comments":"","instanceIdentifier":"7a2229eb-0198-1000-918b-a6787aa47bf5"},"destination":{"id":"8080395d-99d0-38ba-af9b-81dcdc3f085a","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"PutMongo","comments":"","instanceIdentifier":"01981023-d71d-1ac5-05ee-b248c5345a99"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"6dc9f183-a120-38cc-aff4-31754f945a2f","instanceIdentifier":"7a1217e4-0198-1000-0b54-322f9a57da57","name":"","source":{"id":"f6540356-02d8-3da7-80c5-00de731e7b69","type":"INPUT_PORT","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"input for deposits","instanceIdentifier":"01981034-d71d-1ac5-8f99-249a9bcbe1de"},"destination":{"id":"a4b27b51-7133-3d24-9c0e-fac7ada294f7","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"ValidateRecord","comments":"","instanceIdentifier":"01981020-d71d-1ac5-2c19-b4ce2fb0df45"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"8f64cdff-d690-3141-b4cc-8b7a2fc6d0d4","instanceIdentifier":"a8a47978-0198-1000-ab69-5455b8a62a72","name":"","source":{"id":"11d72d93-0cd6-3441-a32d-94adb84199c7","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"GetFile","comments":"","instanceIdentifier":"a7cac57e-0198-1000-602a-114897f25e14"},"destination":{"id":"728cddb7-c39b-3af7-98cc-a343dbdc75fc","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"MergeContent","comments":"","instanceIdentifier":"a8a3f287-0198-1000-0808-5b82b77a8e06"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"ca28fd87-58ac-3371-aff6-e4839fe9081e","instanceIdentifier":"a840f1ce-0198-1000-47c2-dcb5a671998f","name":"","source":{"id":"8080395d-99d0-38ba-af9b-81dcdc3f085a","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"PutMongo","comments":"","instanceIdentifier":"01981023-d71d-1ac5-05ee-b248c5345a99"},"destination":{"id":"4ac1483e-6bc5-3384-a5c2-598c8f815065","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"DeleteFile","comments":"","instanceIdentifier":"a840b6b3-0198-1000-63e9-7d727a0a584e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"d0c41712-d23b-31d4-a10e-72acee65efd2","instanceIdentifier":"a846c7cc-0198-1000-6bcd-e9b980706d83","name":"","source":{"id":"4ac1483e-6bc5-3384-a5c2-598c8f815065","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"DeleteFile","comments":"","instanceIdentifier":"a840b6b3-0198-1000-63e9-7d727a0a584e"},"destination":{"id":"097a079a-328d-3453-9cee-64dbc776e147","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"LogMessage","comments":"","instanceIdentifier":"a8469e9c-0198-1000-c2d5-93e3f6eb120d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["not found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"7a4e7fb2-521a-33d2-a3ec-6eafe13112f0","instanceIdentifier":"01981031-d71d-1ac5-2313-ccc65b3553cf","name":"","source":{"id":"fd139ab1-9dbd-36e3-8824-f707adf66281","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"LogDeposit","comments":"","instanceIdentifier":"01981026-d71d-1ac5-186a-60439dc4e2fe"},"destination":{"id":"7fe744cb-2336-34f7-a037-c6330b324ce7","type":"PROCESSOR","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"AddDepositMetadata","comments":"","instanceIdentifier":"01981022-d71d-1ac5-c972-797488715de2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"ed691d09-9d5d-3a0d-8092-ebc69d61d905","instanceIdentifier":"01981025-d71d-1ac5-000b-4c4106b28311","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"Allow Scientific Notation":"true","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":"yyyy-MM-dd'T'HH:mm:ss.SSS'Z'","Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"},{"identifier":"964c90e5-85e1-3413-a9fc-20c426d36ebf","instanceIdentifier":"01981024-d71d-1ac5-f6ab-abe045e41c29","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":"yyyy-MM-dd HH:mm:ss.SSS","schema-inference-cache":null,"Date Format":"yyyy-MM-dd","schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":"HH:mm:ss","schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"Deposit\",\n  \"fields\": [\n    {\"name\": \"transaction_id\", \"type\": \"string\"},\n    {\"name\": \"amount\", \"type\": \"double\"},\n    {\"name\": \"account_number\", \"type\": \"string\"},\n    {\"name\": \"deposit_method\", \"type\": [\"null\", {\"type\": \"enum\", \"name\": \"Method\", \"symbols\": [\"CASH\", \"CHECK\", \"WIRE\"]}], \"default\": null},\n    {\"name\": \"timestamp\", \"type\": [\"null\", \"string\"], \"default\": null}\n  ]\n}","Allow Comments":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0c574861-ee51-3558-ab7f-16583da51afb"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","componentType":"PROCESS_GROUP","groupIdentifier":"3e983f45-388d-3ca2-8136-f7443d396a1c"},{"identifier":"2c80cce6-b348-30d3-96d2-edc67f6e6b46","instanceIdentifier":"a8ab1a89-0198-1000-87c8-c615f76e541b","name":"extract the flow logs","comments":"","position":{"x":-1040.0,"y":-168.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3c6a3be3-4a61-3e3a-bb5f-c3d9296f9408","instanceIdentifier":"a8b14288-0198-1000-c210-c616b1aa6993","name":"PutFile","comments":"","position":{"x":744.0,"y":736.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Users\\DELL\\Downloads\\nifi-1.28.1-bin\\nifi-1.28.1\\put_logs","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c80cce6-b348-30d3-96d2-edc67f6e6b46"},{"identifier":"52d78024-7126-3e88-b6b4-89d71857b522","instanceIdentifier":"a8afe415-0198-1000-6202-01124e242f3a","name":"Get_nifi-request","comments":"","position":{"x":120.0,"y":400.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"C:\\Users\\DELL\\Downloads\\nifi-1.28.1-bin\\nifi-1.28.1\\logs","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"nifi-request.log","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c80cce6-b348-30d3-96d2-edc67f6e6b46"},{"identifier":"f08d6e5d-0796-3c8d-b74b-1a146f739777","instanceIdentifier":"a8b132b9-0198-1000-aed8-7c640f864c39","name":"Get_nifi-user","comments":"","position":{"x":120.0,"y":568.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"C:\\Users\\DELL\\Downloads\\nifi-1.28.1-bin\\nifi-1.28.1\\logs","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"nifi-user.log","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c80cce6-b348-30d3-96d2-edc67f6e6b46"},{"identifier":"2eec56f6-b3e4-33e5-b1a7-35ca658d6960","instanceIdentifier":"a8af92a3-0198-1000-45dc-f901d384b69e","name":"PutFile","comments":"","position":{"x":760.0,"y":224.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Users\\DELL\\Downloads\\nifi-1.28.1-bin\\nifi-1.28.1\\put_logs","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c80cce6-b348-30d3-96d2-edc67f6e6b46"},{"identifier":"28adbafe-7b50-3dcc-8963-1bf690493a07","instanceIdentifier":"a8abc7a1-0198-1000-364c-97ef82a49080","name":"Get_nifi-app","comments":"","position":{"x":141.00000934969466,"y":48.0000533132706},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"C:\\Users\\DELL\\Downloads\\nifi-1.28.1-bin\\nifi-1.28.1\\logs","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"nifi-app.log","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c80cce6-b348-30d3-96d2-edc67f6e6b46"},{"identifier":"2dfa6044-0705-3928-8221-a5963d40e63f","instanceIdentifier":"a8af92a2-0198-1000-75b7-f2b15b3fc2c2","name":"Get_nifi-deprecation","comments":"","position":{"x":136.0,"y":216.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"C:\\Users\\DELL\\Downloads\\nifi-1.28.1-bin\\nifi-1.28.1\\logs","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"nifi-deprecation.log","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c80cce6-b348-30d3-96d2-edc67f6e6b46"},{"identifier":"93bdf692-4c58-3850-a396-ce327a49fc50","instanceIdentifier":"a8acb069-0198-1000-abb4-d25fd3641ee7","name":"PutFile","comments":"","position":{"x":752.0,"y":48.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Users\\DELL\\Downloads\\nifi-1.28.1-bin\\nifi-1.28.1\\put_logs","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c80cce6-b348-30d3-96d2-edc67f6e6b46"},{"identifier":"12e79ec7-2ede-3b0b-a89d-fd81bac9c701","instanceIdentifier":"a8b132ba-0198-1000-a3b0-cbbb6a9e1a48","name":"PutFile","comments":"","position":{"x":744.0,"y":576.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Users\\DELL\\Downloads\\nifi-1.28.1-bin\\nifi-1.28.1\\put_logs","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c80cce6-b348-30d3-96d2-edc67f6e6b46"},{"identifier":"5381577e-91b9-3e82-9efa-b1506f894c0f","instanceIdentifier":"a8afe416-0198-1000-af1e-f57da1e5e1f3","name":"PutFile","comments":"","position":{"x":744.0,"y":408.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Users\\DELL\\Downloads\\nifi-1.28.1-bin\\nifi-1.28.1\\put_logs","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c80cce6-b348-30d3-96d2-edc67f6e6b46"},{"identifier":"b9aaee15-f9c0-3d89-8f53-be24ae22fa83","instanceIdentifier":"a8b14287-0198-1000-83ae-29c7488fa510","name":"Get_nifi-bootstrap","comments":"","position":{"x":112.0,"y":744.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"C:\\Users\\DELL\\Downloads\\nifi-1.28.1-bin\\nifi-1.28.1\\logs","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"nifi-bootstrap.log","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2c80cce6-b348-30d3-96d2-edc67f6e6b46"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"9f98fee7-8345-386e-9af7-93c7cb27569f","instanceIdentifier":"a8b00fd2-0198-1000-5e7d-cce38a3fce9b","name":"","source":{"id":"2dfa6044-0705-3928-8221-a5963d40e63f","type":"PROCESSOR","groupId":"2c80cce6-b348-30d3-96d2-edc67f6e6b46","name":"Get_nifi-deprecation","comments":"","instanceIdentifier":"a8af92a2-0198-1000-75b7-f2b15b3fc2c2"},"destination":{"id":"2eec56f6-b3e4-33e5-b1a7-35ca658d6960","type":"PROCESSOR","groupId":"2c80cce6-b348-30d3-96d2-edc67f6e6b46","name":"PutFile","comments":"","instanceIdentifier":"a8af92a3-0198-1000-45dc-f901d384b69e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2c80cce6-b348-30d3-96d2-edc67f6e6b46"},{"identifier":"d0a79bb1-7fa8-3159-81ce-4b8723ba61b6","instanceIdentifier":"a8b25151-0198-1000-1226-8171edc110c9","name":"","source":{"id":"b9aaee15-f9c0-3d89-8f53-be24ae22fa83","type":"PROCESSOR","groupId":"2c80cce6-b348-30d3-96d2-edc67f6e6b46","name":"Get_nifi-bootstrap","comments":"","instanceIdentifier":"a8b14287-0198-1000-83ae-29c7488fa510"},"destination":{"id":"3c6a3be3-4a61-3e3a-bb5f-c3d9296f9408","type":"PROCESSOR","groupId":"2c80cce6-b348-30d3-96d2-edc67f6e6b46","name":"PutFile","comments":"","instanceIdentifier":"a8b14288-0198-1000-c210-c616b1aa6993"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2c80cce6-b348-30d3-96d2-edc67f6e6b46"},{"identifier":"a59fb8c5-611e-3a36-b9a3-21671dfd31b7","instanceIdentifier":"a8b1a940-0198-1000-fc8c-d8735812cb0f","name":"","source":{"id":"f08d6e5d-0796-3c8d-b74b-1a146f739777","type":"PROCESSOR","groupId":"2c80cce6-b348-30d3-96d2-edc67f6e6b46","name":"Get_nifi-user","comments":"","instanceIdentifier":"a8b132b9-0198-1000-aed8-7c640f864c39"},"destination":{"id":"12e79ec7-2ede-3b0b-a89d-fd81bac9c701","type":"PROCESSOR","groupId":"2c80cce6-b348-30d3-96d2-edc67f6e6b46","name":"PutFile","comments":"","instanceIdentifier":"a8b132ba-0198-1000-a3b0-cbbb6a9e1a48"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2c80cce6-b348-30d3-96d2-edc67f6e6b46"},{"identifier":"f4a91d18-547b-3765-b365-e93ab7241e8f","instanceIdentifier":"a8ad9292-0198-1000-4a7c-4b7b3c9a86c8","name":"","source":{"id":"28adbafe-7b50-3dcc-8963-1bf690493a07","type":"PROCESSOR","groupId":"2c80cce6-b348-30d3-96d2-edc67f6e6b46","name":"Get_nifi-app","comments":"","instanceIdentifier":"a8abc7a1-0198-1000-364c-97ef82a49080"},"destination":{"id":"93bdf692-4c58-3850-a396-ce327a49fc50","type":"PROCESSOR","groupId":"2c80cce6-b348-30d3-96d2-edc67f6e6b46","name":"PutFile","comments":"","instanceIdentifier":"a8acb069-0198-1000-abb4-d25fd3641ee7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2c80cce6-b348-30d3-96d2-edc67f6e6b46"},{"identifier":"36746b6a-2f27-3b8e-952f-0ddd70ee135e","instanceIdentifier":"a8b0d832-0198-1000-8cb8-19b522d96c01","name":"","source":{"id":"52d78024-7126-3e88-b6b4-89d71857b522","type":"PROCESSOR","groupId":"2c80cce6-b348-30d3-96d2-edc67f6e6b46","name":"Get_nifi-request","comments":"","instanceIdentifier":"a8afe415-0198-1000-6202-01124e242f3a"},"destination":{"id":"5381577e-91b9-3e82-9efa-b1506f894c0f","type":"PROCESSOR","groupId":"2c80cce6-b348-30d3-96d2-edc67f6e6b46","name":"PutFile","comments":"","instanceIdentifier":"a8afe416-0198-1000-af1e-f57da1e5e1f3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2c80cce6-b348-30d3-96d2-edc67f6e6b46"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","componentType":"PROCESS_GROUP","groupIdentifier":"3e983f45-388d-3ca2-8136-f7443d396a1c"},{"identifier":"55ae009d-5379-3223-8ee0-77b875da48dd","instanceIdentifier":"01981037-d71d-1ac5-4fca-a575cc0fb862","name":"Failed Transactions","comments":"","position":{"x":616.0,"y":344.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d1fd0161-efda-3673-b7ee-9cba78dd65e7","instanceIdentifier":"01981039-d71d-1ac5-f921-be73a95dcde1","name":"EnrichError","comments":"","position":{"x":224.0,"y":216.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.1"},"properties":{"error_severity":"`${error.message:matches('Timeout","notify_team":"${error_severity:equals('CRITICAL'):or(${amount:toNumber():gt(5000))}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","retry_count":"${retry_count:toNumber():plus(1)}","error_type":"${transaction_type:toLower()}_${lastProcessor:substringAfterLast('.')}","error_timestamp":"${now():format(\"yyyy-MM-dd'T'HH:mm:ss.SSSZ\")}","Stateful Variables Initial Value":null,"diagnostic_id":"${transaction_id}_${now():format('HHmmssSSS')}"},"propertyDescriptors":{"error_severity":{"name":"error_severity","displayName":"error_severity","identifiesControllerService":false,"sensitive":false},"notify_team":{"name":"notify_team","displayName":"notify_team","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"retry_count":{"name":"retry_count","displayName":"retry_count","identifiesControllerService":false,"sensitive":false},"error_type":{"name":"error_type","displayName":"error_type","identifiesControllerService":false,"sensitive":false},"error_timestamp":{"name":"error_timestamp","displayName":"error_timestamp","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"diagnostic_id":{"name":"diagnostic_id","displayName":"diagnostic_id","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"bd04b15e-2724-349d-931e-b04f95da4c1c","instanceIdentifier":"01981038-d71d-1ac5-e903-002cc413e484","name":"LogAttribute","comments":"","position":{"x":224.0,"y":-16.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Log prefix":"[FAILED TX]","character-set":"windows-1252","Log FlowFile Properties":"true","Log Level":"error","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":"transaction_id, error.message, stacktrace","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"56042961-6b91-312e-b016-5a799b4436c9","instanceIdentifier":"a7df9b56-0198-1000-ccee-a0c098d9cb2b","name":"GetFile","comments":"","position":{"x":936.0,"y":-16.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"C:\\Users\\DELL\\Downloads\\nifi-1.28.1-bin\\nifi-1.28.1\\nifi-data\\","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"dead_letters_json.json","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"333543ed-494d-3347-b86e-84bac3d36c29","instanceIdentifier":"792026d6-0198-1000-faae-13fdacc69c72","name":"RouteOnAttribute","comments":"","position":{"x":232.0,"y":440.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Routing Strategy":"Route to Property name","final_failure":"${retry_count:ge(3):or(${error_category:equals('BUSINESS')})}","should_retry":"${retry_count:lt(3):and(${error_category:equals('NETWORK')})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"final_failure":{"name":"final_failure","displayName":"final_failure","identifiesControllerService":false,"sensitive":false},"should_retry":{"name":"should_retry","displayName":"should_retry","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"c61cf43c-09ed-38dd-b193-a13c4a790df5","instanceIdentifier":"79375f01-0198-1000-b116-277472792d2f","name":"DeadLetterQueue","comments":"","position":{"x":944.0,"y":720.0},"type":"org.apache.nifi.processors.mongodb.PutMongo","bundle":{"group":"org.apache.nifi","artifact":"nifi-mongodb-nar","version":"1.28.1"},"properties":{"mongo-client-service":null,"Upsert":"false","ssl-context-service":null,"ssl-client-auth":"REQUIRED","Mode":"insert","Mongo Database Name":"local","Mongo URI":"mongodb://localhost:27017","Update Query Key":null,"Mongo Collection Name":"dead_letters","putmongo-update-query":null,"put-mongo-update-mode":"doc","Write Concern":"ACKNOWLEDGED","Character Set":"UTF-8"},"propertyDescriptors":{"mongo-client-service":{"name":"mongo-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false},"Upsert":{"name":"Upsert","displayName":"Upsert","identifiesControllerService":false,"sensitive":false},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false},"Mongo Database Name":{"name":"Mongo Database Name","displayName":"Mongo Database Name","identifiesControllerService":false,"sensitive":false},"Mongo URI":{"name":"Mongo URI","displayName":"Mongo URI","identifiesControllerService":false,"sensitive":false},"Update Query Key":{"name":"Update Query Key","displayName":"Update Query Key","identifiesControllerService":false,"sensitive":false},"Mongo Collection Name":{"name":"Mongo Collection Name","displayName":"Mongo Collection Name","identifiesControllerService":false,"sensitive":false},"putmongo-update-query":{"name":"putmongo-update-query","displayName":"Update Query","identifiesControllerService":false,"sensitive":false},"put-mongo-update-mode":{"name":"put-mongo-update-mode","displayName":"Update Mode","identifiesControllerService":false,"sensitive":false},"Write Concern":{"name":"Write Concern","displayName":"Write Concern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"183193be-507f-304a-8a21-2e7994780fb7","instanceIdentifier":"a7e94e71-0198-1000-8e0f-ebc26b62f325","name":"ExecuteStreamCommand","comments":"","position":{"x":424.0,"y":672.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"C:\\Users\\DELL\\Downloads\\nifi-1.28.1-bin\\nifi-1.28.1\\scripts\\","Command Path":"python","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"C:\\Users\\DELL\\Downloads\\nifi-1.28.1-bin\\nifi-1.28.1\\scripts\\handle_failed_transaction.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["output stream","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"8612a0b7-b71c-30aa-9776-dc8ffb32dd90","instanceIdentifier":"79344dae-0198-1000-a020-dcf52de984c2","name":"ArchiveFailure","comments":"","position":{"x":944.0,"y":432.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/opt/nifi/error_archive/${now():format('yyyy-MM-dd')}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"7d6749f1-290f-3ffc-aa9f-5a4986083b52","instanceIdentifier":"a84d281e-0198-1000-844d-d038d7d66d22","name":"LogMessage","comments":"","position":{"x":688.0,"y":1200.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"log-message":"the dead_letters_json file not founded","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"2af6567b-de5a-3eec-83cf-f0f27eb72bc4","instanceIdentifier":"a84d281f-0198-1000-533a-7e49ec2d792b","name":"LogMessage","comments":"","position":{"x":1198.6794894496134,"y":1206.2427399602777},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"log-message":"the dead_letters_json file sucsessfully deleted","log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"0e0d6952-2ba4-3ceb-ba1e-540a739b8396","instanceIdentifier":"7930248e-0198-1000-b78a-0bd16468884a","name":"Wait","comments":"","position":{"x":-408.0,"y":592.0},"type":"org.apache.nifi.processors.standard.Wait","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"wait-buffer-count":"1","wait-mode":"wait","attribute-copy-mode":"keeporiginal","distributed-cache-service":"57c9f682-f33c-3eec-b703-3c2093be16c6","releasable-flowfile-count":"1","release-signal-id":"retry_signal_${transaction_id}","signal-counter-name":null,"expiration-duration":"10 min","target-signal-count":"1","wait-penalty-duration":"30 sec"},"propertyDescriptors":{"wait-buffer-count":{"name":"wait-buffer-count","displayName":"Wait Buffer Count","identifiesControllerService":false,"sensitive":false},"wait-mode":{"name":"wait-mode","displayName":"Wait Mode","identifiesControllerService":false,"sensitive":false},"attribute-copy-mode":{"name":"attribute-copy-mode","displayName":"Attribute Copy Mode","identifiesControllerService":false,"sensitive":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"releasable-flowfile-count":{"name":"releasable-flowfile-count","displayName":"Releasable FlowFile Count","identifiesControllerService":false,"sensitive":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false},"expiration-duration":{"name":"expiration-duration","displayName":"Expiration Duration","identifiesControllerService":false,"sensitive":false},"target-signal-count":{"name":"target-signal-count","displayName":"Target Signal Count","identifiesControllerService":false,"sensitive":false},"wait-penalty-duration":{"name":"wait-penalty-duration","displayName":"Wait Penalty Duration","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["expired","success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"3e466426-80aa-3b7e-b78a-128e7ab83892","instanceIdentifier":"a84d281d-0198-1000-7f9f-0dfef6e22154","name":"DeleteFile","comments":"","position":{"x":944.0,"y":960.0},"type":"org.apache.nifi.processors.standard.DeleteFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Filename":"withdrawals_json.josn","Directory Path":"C:\\\\Users\\\\DELL\\\\Downloads\\\\nifi-1.28.1-bin\\\\nifi-1.28.1\\\\nifi-data\\\\"},"propertyDescriptors":{"Filename":{"name":"Filename","displayName":"Filename","identifiesControllerService":false,"sensitive":false},"Directory Path":{"name":"Directory Path","displayName":"Directory Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"8d61026e-3605-3517-b265-94536783fa94","instanceIdentifier":"a8a57231-0198-1000-c424-82c2dd4fe795","name":"MergeContent","comments":"","position":{"x":944.0,"y":208.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"100","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Text","Merge Format":"Binary Concatenation","Footer File":"}","Max Bin Age":null,"Demarcator File":",","Correlation Attribute Name":null,"Header File":"{","mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"}],"inputPorts":[{"identifier":"442903f9-b647-36bd-89d9-8bba0efcfa4f","instanceIdentifier":"7920f748-0198-1000-de84-5526c60895a2","name":"input for is_failed group","position":{"x":280.0,"y":-152.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"}],"outputPorts":[],"connections":[{"identifier":"54c510aa-9e4a-37bd-ba94-36e91592d0fb","instanceIdentifier":"79204197-0198-1000-aebb-370816eca996","name":"","source":{"id":"d1fd0161-efda-3673-b7ee-9cba78dd65e7","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"EnrichError","comments":"","instanceIdentifier":"01981039-d71d-1ac5-f921-be73a95dcde1"},"destination":{"id":"333543ed-494d-3347-b86e-84bac3d36c29","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"RouteOnAttribute","comments":"","instanceIdentifier":"792026d6-0198-1000-faae-13fdacc69c72"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"aa9c0d84-50a1-3d49-b98f-80d586eeceac","instanceIdentifier":"a7efb80f-0198-1000-230c-871afbd570de","name":"","source":{"id":"183193be-507f-304a-8a21-2e7994780fb7","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"a7e94e71-0198-1000-8e0f-ebc26b62f325"},"destination":{"id":"8612a0b7-b71c-30aa-9776-dc8ffb32dd90","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"ArchiveFailure","comments":"","instanceIdentifier":"79344dae-0198-1000-a020-dcf52de984c2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"f72fbd89-cb9c-3d13-8c47-eb65a036015d","instanceIdentifier":"a84dacde-0198-1000-5663-11dddcd932d5","name":"","source":{"id":"3e466426-80aa-3b7e-b78a-128e7ab83892","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"DeleteFile","comments":"","instanceIdentifier":"a84d281d-0198-1000-7f9f-0dfef6e22154"},"destination":{"id":"2af6567b-de5a-3eec-83cf-f0f27eb72bc4","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"LogMessage","comments":"","instanceIdentifier":"a84d281f-0198-1000-533a-7e49ec2d792b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"520b520b-37bc-3e2e-be7d-28269d38e800","instanceIdentifier":"79210690-0198-1000-1135-ab4140f8eb4b","name":"","source":{"id":"442903f9-b647-36bd-89d9-8bba0efcfa4f","type":"INPUT_PORT","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"input for is_failed group","instanceIdentifier":"7920f748-0198-1000-de84-5526c60895a2"},"destination":{"id":"bd04b15e-2724-349d-931e-b04f95da4c1c","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"LogAttribute","comments":"","instanceIdentifier":"01981038-d71d-1ac5-e903-002cc413e484"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"b2e5fe40-9c76-35ca-9227-22b30bb1e4d7","instanceIdentifier":"a8a5be29-0198-1000-b469-100846f23ba3","name":"","source":{"id":"8d61026e-3605-3517-b265-94536783fa94","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"MergeContent","comments":"","instanceIdentifier":"a8a57231-0198-1000-c424-82c2dd4fe795"},"destination":{"id":"8612a0b7-b71c-30aa-9776-dc8ffb32dd90","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"ArchiveFailure","comments":"","instanceIdentifier":"79344dae-0198-1000-a020-dcf52de984c2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"fca703a9-e718-3c77-aaad-59be3a8caf5c","instanceIdentifier":"a8a588a1-0198-1000-aa9e-58ba9ebf76ae","name":"","source":{"id":"56042961-6b91-312e-b016-5a799b4436c9","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"GetFile","comments":"","instanceIdentifier":"a7df9b56-0198-1000-ccee-a0c098d9cb2b"},"destination":{"id":"8d61026e-3605-3517-b265-94536783fa94","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"MergeContent","comments":"","instanceIdentifier":"a8a57231-0198-1000-c424-82c2dd4fe795"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"9d711319-f227-3e03-8609-6be4303ac6a8","instanceIdentifier":"a7ef4f32-0198-1000-69cf-f6f0239c2547","name":"","source":{"id":"333543ed-494d-3347-b86e-84bac3d36c29","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"RouteOnAttribute","comments":"","instanceIdentifier":"792026d6-0198-1000-faae-13fdacc69c72"},"destination":{"id":"183193be-507f-304a-8a21-2e7994780fb7","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"a7e94e71-0198-1000-8e0f-ebc26b62f325"},"labelIndex":1,"zIndex":0,"selectedRelationships":["final_failure","should_retry","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"952eb3a6-1b6a-38b0-a176-0c5fe4999ae3","instanceIdentifier":"79334297-0198-1000-e6c1-841ba42f2940","name":"","source":{"id":"0e0d6952-2ba4-3ceb-ba1e-540a739b8396","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"Wait","comments":"","instanceIdentifier":"7930248e-0198-1000-b78a-0bd16468884a"},"destination":{"id":"0e0d6952-2ba4-3ceb-ba1e-540a739b8396","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"Wait","comments":"","instanceIdentifier":"7930248e-0198-1000-b78a-0bd16468884a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["wait"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":71.32765197753906,"y":632.71484375},{"x":71.32765197753906,"y":682.71484375}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"b26f54b7-4890-373e-93f3-25c6905d8c0f","instanceIdentifier":"0198103c-d71d-1ac5-e56a-6af55d2776db","name":"","source":{"id":"bd04b15e-2724-349d-931e-b04f95da4c1c","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"LogAttribute","comments":"","instanceIdentifier":"01981038-d71d-1ac5-e903-002cc413e484"},"destination":{"id":"d1fd0161-efda-3673-b7ee-9cba78dd65e7","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"EnrichError","comments":"","instanceIdentifier":"01981039-d71d-1ac5-f921-be73a95dcde1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"520e14a3-9618-332d-b187-12482aa87330","instanceIdentifier":"a84d4734-0198-1000-eb64-44cab239be1c","name":"","source":{"id":"c61cf43c-09ed-38dd-b193-a13c4a790df5","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"DeadLetterQueue","comments":"","instanceIdentifier":"79375f01-0198-1000-b116-277472792d2f"},"destination":{"id":"3e466426-80aa-3b7e-b78a-128e7ab83892","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"DeleteFile","comments":"","instanceIdentifier":"a84d281d-0198-1000-7f9f-0dfef6e22154"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"845f1cac-5eee-3f7c-9aa6-dce37fb97906","instanceIdentifier":"a84d951d-0198-1000-8ea8-58595acb04f1","name":"","source":{"id":"3e466426-80aa-3b7e-b78a-128e7ab83892","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"DeleteFile","comments":"","instanceIdentifier":"a84d281d-0198-1000-7f9f-0dfef6e22154"},"destination":{"id":"7d6749f1-290f-3ffc-aa9f-5a4986083b52","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"LogMessage","comments":"","instanceIdentifier":"a84d281e-0198-1000-844d-d038d7d66d22"},"labelIndex":1,"zIndex":0,"selectedRelationships":["not found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"c42ed42b-72e8-3288-a56e-11d16e27c27d","instanceIdentifier":"79303c62-0198-1000-a264-76bba58143ca","name":"","source":{"id":"333543ed-494d-3347-b86e-84bac3d36c29","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"RouteOnAttribute","comments":"","instanceIdentifier":"792026d6-0198-1000-faae-13fdacc69c72"},"destination":{"id":"0e0d6952-2ba4-3ceb-ba1e-540a739b8396","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"Wait","comments":"","instanceIdentifier":"7930248e-0198-1000-b78a-0bd16468884a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["should_retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"},{"identifier":"5a491ebe-029e-3344-95ec-9505340ef354","instanceIdentifier":"79377cc4-0198-1000-e742-136ba6f22624","name":"","source":{"id":"8612a0b7-b71c-30aa-9776-dc8ffb32dd90","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"ArchiveFailure","comments":"","instanceIdentifier":"79344dae-0198-1000-a020-dcf52de984c2"},"destination":{"id":"c61cf43c-09ed-38dd-b193-a13c4a790df5","type":"PROCESSOR","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"DeadLetterQueue","comments":"","instanceIdentifier":"79375f01-0198-1000-b116-277472792d2f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"57c9f682-f33c-3eec-b703-3c2093be16c6","instanceIdentifier":"79283e2d-0198-1000-20eb-4e4105686a80","name":"RetryCacheService","comments":"","type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"1.28.1"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"55ae009d-5379-3223-8ee0-77b875da48dd"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","componentType":"PROCESS_GROUP","groupIdentifier":"3e983f45-388d-3ca2-8136-f7443d396a1c"},{"identifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","instanceIdentifier":"790a0d30-0198-1000-5bcc-af760bf779f7","name":"ATM Transaction Generator","comments":"","position":{"x":-32.0,"y":-32.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"6b6afaeb-76d8-3f36-a2dc-86b645f42ee8","instanceIdentifier":"a855871a-0198-1000-d736-01c30c3526f8","name":"MonitorActivity","comments":"","position":{"x":16.0,"y":64.0},"type":"org.apache.nifi.processors.standard.MonitorActivity","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Continually Send Messages":"false","Inactivity Message":"Lacking activity as of time: ${now():format('yyyy/MM/dd HH:mm:ss')}; flow has been inactive for ${inactivityDurationMillis:toNumber():divide(60000)} minutes","Activity Restored Message":"Activity restored at time: ${now():format('yyyy/MM/dd HH:mm:ss')} after being inactive for ${inactivityDurationMillis:toNumber():divide(60000)} minutes","Copy Attributes":"false","Monitoring Scope":"node","Threshold Duration":"5 min","Wait for Activity":"false","Reset State on Restart":"true","Reporting Node":"all"},"propertyDescriptors":{"Continually Send Messages":{"name":"Continually Send Messages","displayName":"Continually Send Messages","identifiesControllerService":false,"sensitive":false},"Inactivity Message":{"name":"Inactivity Message","displayName":"Inactivity Message","identifiesControllerService":false,"sensitive":false},"Activity Restored Message":{"name":"Activity Restored Message","displayName":"Activity Restored Message","identifiesControllerService":false,"sensitive":false},"Copy Attributes":{"name":"Copy Attributes","displayName":"Copy Attributes","identifiesControllerService":false,"sensitive":false},"Monitoring Scope":{"name":"Monitoring Scope","displayName":"Monitoring Scope","identifiesControllerService":false,"sensitive":false},"Threshold Duration":{"name":"Threshold Duration","displayName":"Threshold Duration","identifiesControllerService":false,"sensitive":false},"Wait for Activity":{"name":"Wait for Activity","displayName":"Wait for Activity","identifiesControllerService":false,"sensitive":false},"Reset State on Restart":{"name":"Reset State on Restart","displayName":"Reset State on Restart","identifiesControllerService":false,"sensitive":false},"Reporting Node":{"name":"Reporting Node","displayName":"Reporting Node","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["activity.restored"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"},{"identifier":"90c828b7-d017-3491-bd12-32ba68f42fa9","instanceIdentifier":"0198100b-d71d-1ac5-d5fc-eacbc070c681","name":"LogAttribute","comments":"","position":{"x":664.0,"y":296.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Log prefix":null,"character-set":"windows-1252","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"},{"identifier":"2c0df5a9-ba05-3eb5-ba2b-3e714775467e","instanceIdentifier":"a7b73241-0198-1000-ee24-c09e6090f322","name":"Log New Transaction","comments":"","position":{"x":1240.0,"y":-152.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"log-message":"New transaction received: ${filename}, Size: ${fileSize}","log-level":"info","log-prefix":"ATM Transaction Received"},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"},{"identifier":"87f405b7-d182-3155-bdc1-0ee49b0ec7df","instanceIdentifier":"01981004-d71d-1ac5-7598-40750374330a","name":"Extract Transaction Fields","comments":"","position":{"x":16.0,"y":296.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"transaction_date":"$.transaction_date","transaction_id":"$.transaction_id","Destination":"flowfile-attribute","is_successful":"$.is_successful","amount":"$.amount","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","transaction_type":"$.transaction_type","Path Not Found Behavior":"ignore","transaction_hour":"$.hour","atm_id":"$.atm_id","region":"$.region","customer_id":"$.customer_id","status":"$.status"},"propertyDescriptors":{"transaction_date":{"name":"transaction_date","displayName":"transaction_date","identifiesControllerService":false,"sensitive":false},"transaction_id":{"name":"transaction_id","displayName":"transaction_id","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"is_successful":{"name":"is_successful","displayName":"is_successful","identifiesControllerService":false,"sensitive":false},"amount":{"name":"amount","displayName":"amount","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"transaction_type":{"name":"transaction_type","displayName":"transaction_type","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"transaction_hour":{"name":"transaction_hour","displayName":"transaction_hour","identifiesControllerService":false,"sensitive":false},"atm_id":{"name":"atm_id","displayName":"atm_id","identifiesControllerService":false,"sensitive":false},"region":{"name":"region","displayName":"region","identifiesControllerService":false,"sensitive":false},"customer_id":{"name":"customer_id","displayName":"customer_id","identifiesControllerService":false,"sensitive":false},"status":{"name":"status","displayName":"status","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"},{"identifier":"ebf36d9d-bbbe-3b05-a468-ca2674cf0cb5","instanceIdentifier":"0198100d-d71d-1ac5-200a-95cd48f3e787","name":"RouteOnAttribute","comments":"","position":{"x":16.0,"y":512.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Routing Strategy":"Route to Property name","is_failed":"${status:equals('FAILED')}","is_withdrawal":"${transaction_type:equals('WITHDRAWAL')}","is_deposit":"${transaction_type:equals('DEPOSIT')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"is_failed":{"name":"is_failed","displayName":"is_failed","identifiesControllerService":false,"sensitive":false},"is_withdrawal":{"name":"is_withdrawal","displayName":"is_withdrawal","identifiesControllerService":false,"sensitive":false},"is_deposit":{"name":"is_deposit","displayName":"is_deposit","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"},{"identifier":"43bce74a-18ce-339d-bb84-08a6f52ea71f","instanceIdentifier":"01981005-d71d-1ac5-75d1-671d657518fe","name":"Log Incoming Transaction","comments":"","position":{"x":624.0,"y":-152.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Log prefix":null,"character-set":"windows-1252","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":"filename, fileSize, mime.type, transaction_type, transaction_id, status, atm_id, customer_id, http.headers.User-Agent","attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"},{"identifier":"62fd83f6-b79a-3c2f-a8b5-429763ba3127","instanceIdentifier":"01981000-d71d-1ac5-d63b-f16b82a418b0","name":"ATM Transaction Receiver","comments":"","position":{"x":8.0,"y":-144.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"contentListener","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","Max Data to Receive per Second":null,"client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"8080"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"},{"identifier":"e93b55e2-8c0b-321d-ad56-0b9b6766844c","instanceIdentifier":"a8581714-0198-1000-7767-fb1edaebd9ed","name":"LogAttribute","comments":"","position":{"x":-624.0,"y":56.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Log prefix":null,"character-set":"windows-1252","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"}],"inputPorts":[],"outputPorts":[{"identifier":"c42c4f79-f6c2-319c-97bd-f3ea088b0ce0","instanceIdentifier":"790cab43-0198-1000-1d9a-3ab51e6e565f","name":"is_withdrawal","position":{"x":80.0,"y":768.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"},{"identifier":"47bb5a76-208f-3b57-b57d-526ead0dcbad","instanceIdentifier":"790c812f-0198-1000-69c2-8195621bccda","name":"is_deposit","position":{"x":-320.0,"y":752.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"},{"identifier":"3d4da17d-75c3-340b-959d-3695c1b8c126","instanceIdentifier":"790cdca7-0198-1000-8d21-16d80f733e87","name":"is_failed","position":{"x":560.0,"y":752.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"}],"connections":[{"identifier":"16d85572-eefc-37bf-a37a-766d8a1896b6","instanceIdentifier":"a85842ac-0198-1000-4fc1-fafec15aee59","name":"","source":{"id":"6b6afaeb-76d8-3f36-a2dc-86b645f42ee8","type":"PROCESSOR","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"MonitorActivity","comments":"","instanceIdentifier":"a855871a-0198-1000-d736-01c30c3526f8"},"destination":{"id":"e93b55e2-8c0b-321d-ad56-0b9b6766844c","type":"PROCESSOR","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"LogAttribute","comments":"","instanceIdentifier":"a8581714-0198-1000-7767-fb1edaebd9ed"},"labelIndex":1,"zIndex":0,"selectedRelationships":["inactive"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"},{"identifier":"5088f239-3828-383d-a243-5fcb683453f4","instanceIdentifier":"790aab7c-0198-1000-087b-7e668ac5ee2f","name":"","source":{"id":"87f405b7-d182-3155-bdc1-0ee49b0ec7df","type":"PROCESSOR","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"Extract Transaction Fields","comments":"","instanceIdentifier":"01981004-d71d-1ac5-7598-40750374330a"},"destination":{"id":"90c828b7-d017-3491-bd12-32ba68f42fa9","type":"PROCESSOR","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"LogAttribute","comments":"","instanceIdentifier":"0198100b-d71d-1ac5-d5fc-eacbc070c681"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"},{"identifier":"b5fc2a41-16f1-3d87-8073-7f1a4c80aab1","instanceIdentifier":"790afe92-0198-1000-9758-871c75b46740","name":"","source":{"id":"87f405b7-d182-3155-bdc1-0ee49b0ec7df","type":"PROCESSOR","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"Extract Transaction Fields","comments":"","instanceIdentifier":"01981004-d71d-1ac5-7598-40750374330a"},"destination":{"id":"ebf36d9d-bbbe-3b05-a468-ca2674cf0cb5","type":"PROCESSOR","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"RouteOnAttribute","comments":"","instanceIdentifier":"0198100d-d71d-1ac5-200a-95cd48f3e787"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"},{"identifier":"3052de22-f153-3aaf-9aab-56c378b9d17f","instanceIdentifier":"790ff7be-0198-1000-bc34-1e44cb0bd0c8","name":"","source":{"id":"ebf36d9d-bbbe-3b05-a468-ca2674cf0cb5","type":"PROCESSOR","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"RouteOnAttribute","comments":"","instanceIdentifier":"0198100d-d71d-1ac5-200a-95cd48f3e787"},"destination":{"id":"c42c4f79-f6c2-319c-97bd-f3ea088b0ce0","type":"OUTPUT_PORT","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"is_withdrawal","instanceIdentifier":"790cab43-0198-1000-1d9a-3ab51e6e565f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["is_withdrawal"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"},{"identifier":"94baab05-187c-397a-a829-ce9459874fef","instanceIdentifier":"790a5c5c-0198-1000-bc96-dbd9a8ed64b2","name":"","source":{"id":"62fd83f6-b79a-3c2f-a8b5-429763ba3127","type":"PROCESSOR","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"ATM Transaction Receiver","comments":"","instanceIdentifier":"01981000-d71d-1ac5-d63b-f16b82a418b0"},"destination":{"id":"43bce74a-18ce-339d-bb84-08a6f52ea71f","type":"PROCESSOR","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"Log Incoming Transaction","comments":"","instanceIdentifier":"01981005-d71d-1ac5-75d1-671d657518fe"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"},{"identifier":"46cec26d-0a89-3d1d-b844-b471d51b922d","instanceIdentifier":"79101f52-0198-1000-29bd-47e877df5b3a","name":"","source":{"id":"ebf36d9d-bbbe-3b05-a468-ca2674cf0cb5","type":"PROCESSOR","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"RouteOnAttribute","comments":"","instanceIdentifier":"0198100d-d71d-1ac5-200a-95cd48f3e787"},"destination":{"id":"3d4da17d-75c3-340b-959d-3695c1b8c126","type":"OUTPUT_PORT","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"is_failed","instanceIdentifier":"790cdca7-0198-1000-8d21-16d80f733e87"},"labelIndex":1,"zIndex":0,"selectedRelationships":["is_failed"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"},{"identifier":"07f7744c-d305-3895-af62-3c315f6a11e6","instanceIdentifier":"a857cffd-0198-1000-9143-e643008a80d0","name":"","source":{"id":"6b6afaeb-76d8-3f36-a2dc-86b645f42ee8","type":"PROCESSOR","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"MonitorActivity","comments":"","instanceIdentifier":"a855871a-0198-1000-d736-01c30c3526f8"},"destination":{"id":"87f405b7-d182-3155-bdc1-0ee49b0ec7df","type":"PROCESSOR","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"Extract Transaction Fields","comments":"","instanceIdentifier":"01981004-d71d-1ac5-7598-40750374330a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"},{"identifier":"f405d553-3264-3db2-b0ee-170e0eba3ab0","instanceIdentifier":"790fe02a-0198-1000-f8bf-26221916c5bc","name":"","source":{"id":"ebf36d9d-bbbe-3b05-a468-ca2674cf0cb5","type":"PROCESSOR","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"RouteOnAttribute","comments":"","instanceIdentifier":"0198100d-d71d-1ac5-200a-95cd48f3e787"},"destination":{"id":"47bb5a76-208f-3b57-b57d-526ead0dcbad","type":"OUTPUT_PORT","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"is_deposit","instanceIdentifier":"790c812f-0198-1000-69c2-8195621bccda"},"labelIndex":1,"zIndex":0,"selectedRelationships":["is_deposit"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"},{"identifier":"4d106001-17c5-3679-8a01-8285a1403baa","instanceIdentifier":"a7b84c52-0198-1000-c345-54479c695439","name":"","source":{"id":"43bce74a-18ce-339d-bb84-08a6f52ea71f","type":"PROCESSOR","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"Log Incoming Transaction","comments":"","instanceIdentifier":"01981005-d71d-1ac5-75d1-671d657518fe"},"destination":{"id":"2c0df5a9-ba05-3eb5-ba2b-3e714775467e","type":"PROCESSOR","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"Log New Transaction","comments":"","instanceIdentifier":"a7b73241-0198-1000-ee24-c09e6090f322"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"},{"identifier":"e0c34ac6-2e99-387c-97c5-3e7985cd2754","instanceIdentifier":"a855af3c-0198-1000-12b7-c8ddb5095641","name":"","source":{"id":"62fd83f6-b79a-3c2f-a8b5-429763ba3127","type":"PROCESSOR","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"ATM Transaction Receiver","comments":"","instanceIdentifier":"01981000-d71d-1ac5-d63b-f16b82a418b0"},"destination":{"id":"6b6afaeb-76d8-3f36-a2dc-86b645f42ee8","type":"PROCESSOR","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"MonitorActivity","comments":"","instanceIdentifier":"a855871a-0198-1000-d736-01c30c3526f8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","componentType":"PROCESS_GROUP","groupIdentifier":"3e983f45-388d-3ca2-8136-f7443d396a1c"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8ff5be07-3946-3f50-ad6f-711a9e0a5391","instanceIdentifier":"794b73d7-0198-1000-ecf8-4aaae77ed26e","name":"","source":{"id":"c42c4f79-f6c2-319c-97bd-f3ea088b0ce0","type":"OUTPUT_PORT","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"is_withdrawal","instanceIdentifier":"790cab43-0198-1000-1d9a-3ab51e6e565f"},"destination":{"id":"702f55a3-7736-33d0-9534-516fb4a6ce79","type":"INPUT_PORT","groupId":"7a8456b3-20a3-3a9e-a9fd-f2d33fe93e2a","name":"input for withdraw","instanceIdentifier":"01981015-d71d-1ac5-fe4d-12ad5c748015"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3e983f45-388d-3ca2-8136-f7443d396a1c"},{"identifier":"62ac3c13-dfb1-313c-a1e0-60820cf23d40","instanceIdentifier":"7939db66-0198-1000-ea47-b913a6bc7838","name":"","source":{"id":"3d4da17d-75c3-340b-959d-3695c1b8c126","type":"OUTPUT_PORT","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"is_failed","instanceIdentifier":"790cdca7-0198-1000-8d21-16d80f733e87"},"destination":{"id":"442903f9-b647-36bd-89d9-8bba0efcfa4f","type":"INPUT_PORT","groupId":"55ae009d-5379-3223-8ee0-77b875da48dd","name":"input for is_failed group","instanceIdentifier":"7920f748-0198-1000-de84-5526c60895a2"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3e983f45-388d-3ca2-8136-f7443d396a1c"},{"identifier":"88297607-d1dc-3400-933f-e1a651ae6391","instanceIdentifier":"791b7d79-0198-1000-e72d-0936ec959e22","name":"","source":{"id":"47bb5a76-208f-3b57-b57d-526ead0dcbad","type":"OUTPUT_PORT","groupId":"b39d5cdf-5ed5-3610-bdb2-110dce5e2ade","name":"is_deposit","instanceIdentifier":"790c812f-0198-1000-69c2-8195621bccda"},"destination":{"id":"f6540356-02d8-3da7-80c5-00de731e7b69","type":"INPUT_PORT","groupId":"0c574861-ee51-3558-ab7f-16583da51afb","name":"input for deposits","instanceIdentifier":"01981034-d71d-1ac5-8f99-249a9bcbe1de"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3e983f45-388d-3ca2-8136-f7443d396a1c"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}